
<h1>{{title}}</h1>
<p>Bienvenido</p>
<hr>
<form id="form-msg">
    <input type="text" name="message" id='i-msg' placeholder="No seas timid@...">
    <button type="submit">Enviar</button>

</form>
<h2>Mensajes de la Sala</h2>
<ul id="show-msg"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chatScript.js"></script>
